h3{
	font-weight: bold;
}

#ri-container{
	margin-top: 50px;
}

.modelos{
	
	background-color: blue;
	width: 100px;
	height: 51px;
	margin: 10px;
	float: left;
	display: inline;
	cursor: pointer;
}	


.telas-miniatura{
	
	background-color: #bdc3c7;
	width: 100px;
	height: 51px;
	margin: 10px;
	float: left;
	display: inline;
	cursor: pointer;
}	

.containers{

	display: block;
	float: left;

}

#icon-hamburger img{
width: 32px !important;

position: absolute;
top: 0px;

}

.conteudos-telas{
	display: none;
}

/*Ajueste recurso Edson*/
#telas{
	margin-top: 20px !important;
}

.btn{
margin-top: 20px;

}

.texto-claro{
	color: white;
}

#tela-save{
display: none;	
}

#form_inicial{
display: none;
}

.center-div{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 60%;
  height: 80%;
  background-color: #fff;
  border-radius: 10px;
  opacity: 0.9;
  box-shadow: 1px 1px 1px;
}

#stb-final{
display: none;
}

#console{
position: absolute;
color: white;
overflow-y: scroll; 
width: 100%;
height: 200px;
bottom: 0px;
right: 0px;
background-color: black;
display: none;
}
#console p{
font-size: 14px;
line-height: 2px;
font-family: sans-serif;
}

.side-nav a{
	font-size: 20px !important;

}

.side-nav h3{
	color: white;
	font-size: 20px;
}

.select-save{
	cursor: pointer;
}

.waves-effect {
    min-width: 300px;
}    

.label-telas{
	color: #fff;
	font-size: 10px;
}