

<div id="html-modelo0" class="html-modelos">
    <div id="pagina">
       <br>    <br>
       <div class="bloco">
            <div class="col_50 esquerda"></div>
            <div class="col_50 direita"></div>
        </div>
       <div class="container-wrapper">
        <section id="telas" class="container principal" data-tela-anterior="0" data-tela-atual="13" data-possui-controles="1" data-grupos="Introdução,Tutorial,Interna" data-codigo="c1_m1">
        
                <article class="tela escura entrada" data-tempo-tela-mudo="1000" data-tempo-tela="15000" data-grupo="Módulo 1 - A projeção de receita">
                    <div class="fundo fundo-curso-056 box-imagem efeitos entrada-porbaixo-perspectiva saida-porbaixo-perspectiva entrada-duracao-500 saida-duracao-500 
                    saida-atraso-250">
                        <img src="galeria/modelos/tela0fundo.jpg" class="img1" style="opacity: 0.5;"  >
                    </div>
                    <div class="bloco-para-verticalizar">
                        <div class="bloco-verticalizado texto-centralizado espaco-lateral">
                            <h3 class="sem-espacos-verticais componente1" contenteditable="true" >Bem-vindo ao curso                        
                            </h3>
                            <h3 class="sem-espacos-verticais componente2" contenteditable="true" >As finanças de seu negócio estão estruturadas?</h3>
                            <p class="componente3" contenteditable="true">
                            Com este curso, você vai compreender os aspectos e os indicadores financeiros que ajudam a manter as finanças de seu negócio estruturadas.</p>
                        </div>
                    </div>
               
            </article>
            
        
        </section>
       </div>
      
    </div>

    <div ><p id="informacoes"></p> </div>

    
    <div id="rodape">
        <p><strong>Orientações Gerais:</strong></p>
        <p contenteditable="true"  class="orientacoes">1. Aplicar diagramação padrão de tela de abertura de curso.</p>
           <p><strong>Descrição das imagens:</strong></p>
        <p contenteditable="true"  class="descricaoIMG">2. Imagem de referência - <i>Shutterstock</i> ID:</p>

       

<p><strong>Imagem(s)</strong></p>
       
 <label>Imagem 1 (1000 x 480px):</label>
<label><strong>Carregar arquivo: </strong><input type="file" id="uploadfiles" multiple="multiple" /></label><br/>

 <label>Classificação:</label>
    <select id="tela-tipo" class="selects">
    <option value="Nova">Nova</option>
    <option value="Atualizada">Atualizada</option>
    <option value="Exercício">Exercício</option>
    </select>


<script src="js/upload.js"></script>
<script>
    $('select').material_select();

</script>


 </div>
 </div>





   




  
